# Local Backup Folders
/.bu
*/.bu

# File Types

*.rpp-bak
*.flac
*.reapeaks

# Reaper folder

/reaper/*
!/reaper/ColorThemes/
/reaper/ColorThemes/*

# Release folders

/release

# Ignore everything that contains the "gitignore" word, excluding the gitignore file itself
*gitignore*
!.gitignore

# flac file render folder
**/rnd/flac/

# exclude individual assets from build folder
/src/build/*.ReaperThemeZip
/src/build/*.zip
!/src/build/