# Local Backup Folders
/.bu
*/.bu

# File Types
*.rpp-bak
*.flac
*.reapeaks

# limit build files to ReaperThemeZip
/src/build/*
!/src/build/*.ReaperThemeZip

# local Reaper developement folder
/reaper/

# example project
part_example-project_rec_gitignore.rpp
/test/**/rnd/
/test/**/gitignore/
